{% extends 'main.html' %}
{% block content %} 
    <div class="card shadow p-4" style="margin-top: 5px;">
    <div class="d-flex justify-content-between mb-3">
        <h3>Student List</h3>
        <a href="/add/" class="btn btn-success">+ Add Students</a>
    </div>
</div>

    <div class="card shadow p-4" style="margin-top: 5px;">
    <div class="d-flex justify-content-between mb-3">
        <h3>Student List</h3>
        <a href="/add/" class="btn btn-primary"> Show Students </a>
    </div>
</div>
    <div class="card shadow p-4" style="margin-top: 5px;">
    <div class="d-flex justify-content-between mb-3">
        <h3>Student List</h3>
        <a href="/add/" class="btn btn-warning">update Students </a>
    </div>

</div>
    <div class="card shadow p-4" style="margin-top: 5px;">
    <div class="d-flex justify-content-between mb-3">
        <h3>Student List</h3>
        <a href="/add/" class="btn btn-danger " >Delete students</a>
    </div>
</div>

{% comment %} <div class="container">
    <h2>Add Student</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit">Add Student</button>
    </form>

</div>
<h2>Edit Student</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button type="submit">Update Student</button>
</form> {% endcomment %}

{% endblock %}
